.images {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 1vw 1vw 0 0;
    
}
.images2 {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 1vw 1vw 0 0;
    
}
.articles2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}