@media screen and (max-width: 480px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .vienna {
    display: none;
  }
  .navtop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .articles2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .imgtext {
    text-align: justify;
    width: 90vw !important;
    font-size: 4vw !important;
    background-color: #9c4343;
    text-align: center;
    margin: 4vw 0 4vw 0;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.85);
  }
  .imgtext2 {
    text-align: justify;
    width: 90vw !important;
    font-size: 4vw !important;
    background-color: #9c4343;
    color: white;
    text-align: center;
    margin: 4vw 0 4vw 0;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.85);
  }
  .images {
    width: 90vw !important;
    height: 50vw !important;
    border-radius: .6vw .6vw 0 0;
  }
  .images2 {
    width: 90vw !important;
    height: 50vw !important;
    border-radius: .6vw .6vw 0 0;
  }
  .footer1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1vw;
  }
  .footer1 ul {
    padding-bottom: 1vw;
  }
  .developer .banner {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #5B191A;
  height: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .vienna {
  width: 25vw;
}

.logo {
  width: 15vw;
}

.navtop {
  list-style-type: none;
  background-color: #0E0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  font-size: 2vw;
  margin: 1vw;
}

li a {
  text-decoration: none;
  color: #ECECEC;
}

.timedate {
  padding: 2vw 0 2vw 0;
  font-size: 2vw;
  text-align: right;
}

main {
  padding: 0 5vw;
  background-color: lightskyblue;
}

.breakline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgrey;
  height: 5vw;
  font-size: 2vw;
  font-weight: bold;
  border-style: double;
}

.images {
  width: 25vw;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .7vw .7vw 0 0;
}

.images2 {
  width: 40vw;
  height: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .7vw .7vw 0 0;
}

.articles2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.imgtext {
  border-style: ridge;
  border-radius: 1vw;
  text-align: justify;
  width: 25vw;
  font-size: 1.5vw;
  background-color: #9c4343;
  text-align: center;
  margin: 4vw 0 4vw 0;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.85);
}

.imgtext a {
  text-decoration: none;
  color: white;
}

.imgtext2 {
  border-style: ridge;
  border-radius: 1vw;
  text-align: justify;
  width: 40vw;
  font-size: 2vw;
  background-color: #9c4343;
  color: white;
  text-align: center;
  margin: 4vw 0 4vw 0;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.85);
}

.imgtext2 a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: black;
  color: white;
  padding: 2vw;
}

footer p {
  font-size: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbottom {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbottom li {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 2vw;
  font-size: 1.5vw;
}

.developer figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.developer figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.developer {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */