@media screen and (max-width: 480px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    
        .vienna {
        display: none;
        }
        
    }
    .navtop {
        display: flex;
        justify-content: center;
    }
    .articles {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .articles2 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    }
    .imgtext {
    // border-radius: 1vw;
    text-align: justify;
    width: 90vw !important;
    font-size: 4vw !important;
    background-color: rgb(156, 67, 67);
    // color: white;
    text-align: center;
    margin: 4vw 0 4vw 0;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
    }
    .imgtext2 {
    // border-radius: 1vw;
    text-align: justify;
    width: 90vw !important;
    font-size: 4vw !important;
    background-color: rgb(156, 67, 67);
    color: white;
    text-align: center;
    margin: 4vw 0 4vw 0;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
    }
    .images {
    width: 90vw !important;
    height: 50vw !important;
    // object-fit: cover;
    border-radius: 1vw 1vw 0 0;
    
    }
    .images2 {
    width: 90vw !important;
    height: 50vw !important;
    // object-fit: fill;
    border-radius: 1vw 1vw 0 0;
    }
    .footer1 {
        display: flex;
        flex-direction: column;
        padding-bottom: 1vw;
         ul {
             padding-bottom: 1vw;
         }
        }
        
}
// Media Query over
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #5B191A;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    .vienna {
        width: 25vw;
    }
}
.logo {
    width: 15vw;
}
.navtop {
    list-style-type: none;
    background-color: #0E0D0D;
    display: flex;
    li {
        color: #ECECEC;
        font-size: 2vw;
        margin: 1vw;
    }
}
.timedate {
    padding: 2vw 0 2vw 0;
    font-size: 2vw;
    text-align: right;
}
main {
    padding: 0 5vw;
    background-color: lightskyblue;
}
.breakline {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey; 
    height: 5vw; 
    font-size: 2vw; 
    font-weight: bold;
    border-style: double;
}
.images {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 1vw 1vw 0 0;  
}
.images2 {
    width: 40vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 1vw 1vw 0 0;
}
.articles2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-between;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imgtext {
    border-radius: 1vw;
    text-align: justify;
    width: 25vw;
    font-size: 1.5vw;
    background-color: rgb(156, 67, 67);
    color: white;
    text-align: center;
    margin: 4vw 0 4vw 0;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
}
.imgtext2 {
    border-radius: 1vw;
    text-align: justify;
    width: 40vw;
    font-size: 2vw;
    background-color: rgb(156, 67, 67);
    color: white;
    text-align: center;
    margin: 4vw 0 4vw 0;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.85);
}
footer {
    background-color: black;
    color: white;
    padding: 2vw;
    p {
        font-size: 2vw;
        display: flex;
        justify-content: center;
    }
    .footer1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    align-items: center;  
    }
    img {
        display: flex;
    }
}
.navbottom {
    list-style-type: none;
    display: flex;
    li {
        justify-content: space-around;
        padding-right: 2vw;
        font-size: 1.5vw;
    }
}
.banner figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.banner figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
